/* globals */
/* body{
    overflow: hidden;
} */

.getback_link{
    position: fixed;
    top: 5%;
    left : 5%;
}
/* index */
#main_page{
    background-image: url(../imgs/—Pngtree—zoo\ material_735739.png);
    height: 100vh;
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;
}

#create_zoo form{
    margin-left: 5em;
    margin-top: 5em;
    background-color: #536f32;
    border-radius: 5%;
}

.zoo_card{
    margin-left: 5em;
    margin-top: 5em;
}

.zoo_card > div{
    background-color: #536f32;
    border-radius: 15px;

}

/* zoo_main */

#zoo_main{
    height: 100vh;
    background-image: url(../imgs/26944.jpg);
    background-position: center;
    background-size:60%;
    background-repeat: no-repeat;
}


.pen_card{
    color: rgb(133, 188, 133);
    background-color: rgba(7, 32, 13, 0.893);
    border-radius: 15px;
}

.pen_card p{
    margin-top: -0.8em;
}

.main_launch{
    position: fixed;
    bottom :2em;
    left:5em;
}

/* pen_display */
#create_pen{
    position: fixed;
    bottom :2em;
    right: 35%;
}


.to_bggradient{
    height: 100vh;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.814)20%,  rgba(0, 0, 0, 0)30%);
}

.to_bggradient h3{
    color: whitesmoke;
}
.eagle{
    background-image:url(../imgs/eagle.jpg);
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
}

.bear{
    background-image: url(../imgs/bear.jpg);
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
}

.dolphin{
    background-image: url(../imgs/dolphin.jpg);
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
}

.tiger{
    background-image:url(../imgs/tiger.jpg);
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
}

.pen_data{
    color: whitesmoke
}